!!! 5
%html
  %head
    %meta(content="html")
  %body
    %h1
      Welcome to MyClassToo.com, 
      = @user.name
    %p You have successfully signed up for MyClassToo.com

    %p All the best, the MyClassToo team!

